@media screen and (min-width: 1600px) {
    body {
        margin: 0;
    }

    .header--buttons {
        display: flex;
        position: absolute;
        top: 0;
        left: 315px;
        width: 1200px;
        height: 39px;
        align-items: center;
        font-family: Roboto, Serif, serif;
        font-size: 14px;
        color: #C72A00;
    }

    .shop_button {
        margin: 25px 15px 20px 0;
    }

    .learn_button {
        margin: 25px 15px 20px 15px;
    }

    .support_button {
        margin: 25px 15px 20px 15px;
    }

    .about_us_button {
        margin: 25px 0 20px 15px;
    }

    .screen_1 {
        position: relative;
        width: 1200px;
        height: 800px;
        background-color: #FFFCDA;
        margin: 0 auto;
    }

    .symbol {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }

    .girl__1 {
        display: flex;
        justify-content: flex-end;
        z-index: 1;
    }

    .email {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50.06%;
        width: 599.5px;
        height: 313px;
        background-color: #B4A139;
        z-index: 2;
    }

    .close_button {
        position: absolute;
        right: 20px;
        top: 30px;
    }

    .email__text1 {
        font-family: Roboto, Serif, serif;
        font-size: 38px;
        text-align: left;
        color: #FFFCDA;
        margin: 20px;
    }

    .email__text2 {
        font-family: Roboto, Serif, serif;
        font-size: 18px;
        text-align: left;
        color: #FFFCDA;
        margin: 20px;
    }

    .email__strip {
        background-color: #FFFCDA;
        width: 560px;
        height: 1px;
        position: absolute;
        bottom: 0;
        margin: 20px;
    }

    .email__form {
        position: absolute;
        bottom: 10px;
        left: 35px;
        font-family: Roboto, Serif, serif;
        font-size: 34px;
        color: #FFFCDA;
    }

    .email__user {
        border: 0;
        background-color: transparent;
        font-family: Roboto, Serif, serif;
        font-size: 25px;
        color: #FFFCDA;
    }

    .email__submit {
        font-family: Roboto, Serif, serif;
        font-size: 34px;
        text-align: right;
        color: #FFFCDA;
        margin: 10px;
        border: 0;
        background-color: transparent;
    }

    .text1 {
        font-family: Roboto, Serif, serif;
        font-size: 15px;
        text-align: left;
        color: #C72A00;
        margin: 20px;
        position: absolute;
        bottom: 130px;
    }

    .text2 {
        font-family: Roboto, Serif, serif;
        font-size: 15px;
        text-align: left;
        color: #C72A00;
        margin: 20px;
        position: absolute;
        bottom: 80px;
        left: 315px;
    }

    .text3 {
        font-family: Roboto, Serif, serif;
        font-size: 34px;
        text-align: left;
        color: #C72A00;
        margin: 20px;
        position: absolute;
        bottom: 10px;
        left: 315px;
        border-bottom: 1px solid #C72A00;
    }

    .screen_2 {
        position: relative;
        width: 1200px;
        height: 260px;
        background-color: #FFFCDA;
        margin: 0 auto;
    }

    .intro_text {
        font-family: Roboto, Serif, serif;
        font-size: 37px;
        line-height: 41px;
        color: #C72A00;
        text-align: justify;
        position: absolute;
        top: 40px;
        left: 40px;
    }

    .screen_3 {
        position: relative;
        width: 1200px;
        height: 130px;
        background-color: #FFFCDA;
        margin: 0 auto;
    }

    .collection {
        font-family: Roboto, Serif, serif;
        font-size: 72px;
        color: #C72A00;
        text-align: center;
        vertical-align: middle;
        line-height: 130px;
    }

    .screen_4 {
        position: relative;
        width: 1200px;
        height: 773px;
        background-color: #FFFCDA;
        margin: 0 auto;
    }

    .vinyl {
        position: absolute;
        top: 0;
        left: 315px;
    }
    .vinyl_text{
        display: flex;
        font-family: Roboto, Serif, serif;
        font-size: 15px;
        color: #C72A00;
    }
    .sonos {
        position: absolute;
        top: 0;
        right: 20px;
        margin-left: 20px;
    }
    .sonos_text{
        display: flex;
        font-family: Roboto, Serif, serif;
        font-size: 15px;
        color: #C72A00;
    }
    .text_on_img{
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        font-family: Roboto, Serif, serif;
        font-size: 16px;
        color: #C72A00;
    }
    .screen_5 {
        position: relative;
        width: 1200px;
        height: 824px;
        background-color: #FFFCDA;
        margin: 0 auto;
    }
    .console {
        position: absolute;
        margin: 20px;
    }
    .console_text{
        display: flex;
        font-family: Roboto, Serif, serif;
        font-size: 15px;
        color: #C72A00;
    }
    .mcintosh {
        position: absolute;
        right: 217px;
        margin: 20px;
    }
    .mcintosh_text{
        display: flex;
        font-family: Roboto, Serif, serif;
        font-size: 15px;
        color: #C72A00;
    }
    .screen_6 {
        position: relative;
        width: 1200px;
        height: 630px;
        background-color: #FFFCDA;
        margin: 0 auto;
    }

    .audio {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .audio_text{
        display: flex;
        font-family: Roboto, Serif, serif;
        font-size: 15px;
        color: #C72A00;
    }
    .shop_all {
        font-family: Roboto, Serif, serif;
        font-size: 75px;
        color: #C72A00;
        position: absolute;
        top: 235px;
        left: 168px;
    }
    .screen_7 {
        position: relative;
        width: 1200px;
        height: 745px;
        background-color: #420B13;
        margin: 0 auto;
    }
    .just_text{
        position: absolute;
        margin: 20px;
        font-family: Roboto, Serif, serif;
        font-size: 35px;
        color: #E5B0A3;
    }
    .screen_8{
        position: relative;
        width: 1200px;
        height: 675px;
        background-image: url(../img/girl2.png);
        margin: 0 auto;
    }
    .shop_now{
        font-family: Roboto, Serif, serif;
        font-size: 34px;
        color: #FFFCDA;
        margin: 0 0 20px 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid #FFFCDA;
    }
    .dovetail{
        font-family: Roboto, Serif, serif;
        font-size: 34px;
        color: #FFFCDA;
        margin: 0 0 20px 20px;
        position: absolute;
        bottom: 40px;
        left: 0;
    }
    .screen_9{
        position: relative;
        width: 1200px;
        height: 750px;
        background-color: #DFE2E5;
        margin: 0 auto;
    }
    .bestsellers{
        position: absolute;
        top: 130px;
        left: 0;
        margin: 20px;
        font-family: Roboto, Serif, serif;
        font-size: 33px;
        color: #447CF0;
    }
    .round_bestsellers{
        position: absolute;
        top: 188px;
        left: 0;
        margin: 20px;
        width: 170px;
        height: 18px;
        background-color: #447CF0;
        box-sizing: border-box;
        text-align: left;
        padding-left: 15px;
        border-radius: 40px;
        font-family: Roboto, Serif, serif;
        font-size: 14px;
        color: #DFE2E5;
    }
    .bestsellers_photos1{
        position: absolute;
        right: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .bestsellers_photos2{
        position: absolute;
        right: 0;
        bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .photo_caption{
        margin: 0;
        text-align: center;
        font-family: Roboto, Serif, serif;
        font-size: 15px;
        color: #447CF0;
    }
}
